.pie-container {
    width: '100%';
    position: 'absolute';
    height: '50%';
    display: flex;
  }
  
.pie {
    width: 33.33%; /* Each graph takes up 1/3 of the container width */
    padding: 10px; /* Add padding between graphs if needed */
    box-sizing: border-box; /* Include padding in the total width */
  }